:root {
  --gapSize: 20px;
  --headerColor: #F4DFBA;
  --containerColor: #CA965C;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
}

#app>* {
  padding-left: var(--gapSize);
}

#header {
  background-color: var(--headerColor);
  box-shadow: 0 0 10px black;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
}

#header>div>p {
  font-size: 2vw;
}

#headerWrapper1 {
  display: grid;
  grid-template-columns: 1fr;
}

#heading {
  font-size: 4vw;
  color: black;
}

#github {
  width: 4vw;
  height: 4vw;
}

#githubLink {
  display: flex;
}

#headingWrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}

#headingWrapper:hover {
  filter: invert(70%) sepia(14%) saturate(1337%) hue-rotate(351deg) brightness(88%) contrast(84%);
}

#headerWrapper2 {
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: flex-end;
}

#headerWrapper2>p {
  margin-top: 0;
}

#cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-auto-rows: 20vw;
  gap: var(--gapSize);
  background-color: var(--containerColor);
  padding: var(--gapSize);
}

.card {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
  align-content: center;
  box-shadow: 0 0 10px black;
}

.card:hover {
  opacity: 0.5;
}

.card>img {
  width: 10vw;
  height: 10vw;
}

.card>h2 {
  font-size: 3vw;
  text-align: center;
  color: white;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}